body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#test-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(136, 123, 10, 0.682);
    margin-bottom: 30px;
    margin-top: 30px;
}

.question {
    margin-bottom: 20px;
}

.answer {
    margin-left: 10px;
}

#submit-btn {
    display: block;
    margin: 20px auto; /* Вирівнюємо кнопку по центру */
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 20px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

#submit-btn:hover {
    border: 1px solid var(--main-color);
    background: hsl(51, 100%, 34%, 0.60);
    color: #fff;
    font-weight: bold;
    transition: 1s;
}

#result {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
/* Стилізація радіокнопок */
input[type="radio"] {
    -webkit-appearance: none; /* Забираємо стандартний стиль */
    -moz-appearance: none;
    appearance: none;
    width: 15px; /* Задаємо ширину */
    height: 15px; /* Задаємо висоту */
    background-color: transparent; /* Прозорий фон */
    border: 1px solid hsla(0, 0%, 0%); /* Рамка */
    border-radius: 50%; /* Кругла форма */
    cursor: pointer; /* Курсор вказівника */
}

/* Задаємо стиль для радіокнопки, коли вона вибрана */
input[type="radio"]:checked {
    background-color: hsla(51, 100%, 50%, 0.404); /* Колір фону при виборі */
}

.correct {
    color: rgb(162, 255, 162);
    font-weight: bold;
}

.incorrect {
    color: rgb(255, 181, 181);
    font-weight: bold;
}
